.git/
.idea/
.vscode/

lib/

**/*.db
**/*.log
**/*.yml
**/*.yaml
**/*.lock

**/.npmrc
**/.eslintrc
**/.prettierrc

**/.gitignore
**/.npmignore
**/.eslintignore
**/.prettierignore

**/.DS_Store
**/.editorconfig
**/.gitattrubutes

**/tsconfig*.json
**/package-lock.json
